<%= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put, class: 'form-authentication' }) do |f| %>

  <h2 class="form-authentication-heading">Update your account</h2>

  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :email, 'Email address' %>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email address', required: true, class: 'form-control'%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="alert alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: false, placeholder: 'New password', class: 'form-control'%>
    <p class="help-block">(leave blank if you don't want to change it)</p>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: false, placeholder: 'Confirm new password confirmation', class: 'form-control'%>
    <p class="help-block">(leave blank if you don't want to change it)</p>
  </div>

  <div class="form-group">
    <%= f.password_field :current_password, autocomplete: false, placeholder: 'Current password', class: 'form-control'%>
    <p class="help-block">(we need your current password to confirm your changes)</p>
  </div>

  <div><%= f.submit "Update Account", class: 'btn btn-lg btn-primary btn-block' %></div>
<% end %>

