<div class="row">
  <div class="col-xs-12">
    <div class="media">
      <a class="pull-left" href="#/<%= id%>">
        <img class="media-object" src="<%= icon.thumb %>" alt="<%= name %>'s Icon" />
      </a>
      <div class="media-body">
        <a href="#/<%= id %>"><h4><%= name %></h4></a>
      </div>
  </div>
</div>

