<hgroup>
  <h1>Sign in</h2>
</hgroup>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-sign-in form-authentication', role: 'form'}) do |f| %>

  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, placeholder: 'Email', required: true, class: 'form-control input-block' %>

  <%= f.password_field :password, placeholder: 'Password', required: true, class: 'form-control input-block' %>

  <% if devise_mapping.rememberable? -%>
    <%= f.label :remember_me, class: 'checkbox input-block' do %>
      <%= f.check_box :remember_me %> Remember me
    <% end %>
  <% end -%>

  <%= f.submit 'Sign in', class: 'button button-primary input-block' %>
  <%= render "devise/shared/links" %>
<% end %>


