<hgroup>
  <h1><%= t "devise.invitations.new.header" %></h1>
</hgroup>

<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :method => :post} do |f| %>
  <%= devise_error_messages! %>

  <div class="alert alert-info">
    <p>
      <strong>
        <%= icon 'exclamation-circle' %>&nbsp;Warning:
      </strong>
      At this time, all users can access all projects. Be sure that it's OK
      for the user you wish to invite to access everything.
    </p>
  </div>

  <%= devise_error_messages! %>

  <%= f.email_field :email, autofocus: true, placeholder: 'Email', required: true, class: 'form-control input-block' %>

  <%= f.submit t("devise.invitations.new.submit_button"), data: {confirm: 'Are you sure you want to invite this person?'}, class: 'button button-primary' %>
<% end %>
