<h3>Add a new App</h3>
<%= form_for @app do |f| %>
  <% if @app.errors.any? %>
      <div class="row mbl">
        <div class="col-sm-6">
        <div class="alert alert-danger fade-in">
          <h4>Sorry, there was at least 1 error</h4>
          <ul>
            <% @app.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>
  
  <div class="row mbl form-actions">
    <div class="col-sm-3">
      <%= f.submit class: 'btn btn-primary mrl' %>
      <%= link_to 'Cancel', apps_path %>
    </div>
  </div>
<% end %>

