<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Testpilot</title>

    <%= render "layouts/partials/device_tags" %>
    <%= render "layouts/partials/favicons" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/partials/navigation" %>

  <div class="wrapper">
    <aside class="main">

      <a class="add">Add new app</a>

      <div class="app">
        <img class="app-figure" src="https://lh5.ggpht.com/ly6G6lUNHjWKvLgeHO0-ilg7zkEXc-hCWP0Q94gdyCeejWNoDMw6h5buM0pFO0mSDKQ=w300" alt="" width="32" height="32">
        <p class="app-body">
          Ike GPS
        </p>
      </div>

      <div class="app app-selected">
        <img class="app-figure" src="https://lh5.ggpht.com/ly6G6lUNHjWKvLgeHO0-ilg7zkEXc-hCWP0Q94gdyCeejWNoDMw6h5buM0pFO0mSDKQ=w300" alt="" width="32" height="32">
        <p class="app-body">
          Ike GPS
        </p>
      </div>

      <div class="app">
        <img class="app-figure" src="https://lh5.ggpht.com/ly6G6lUNHjWKvLgeHO0-ilg7zkEXc-hCWP0Q94gdyCeejWNoDMw6h5buM0pFO0mSDKQ=w300" alt="" width="32" height="32">
        <p class="app-body">
          Ike GPS
        </p>
      </div>
    </aside>

    <section class="main">
      <%#= render "layouts/partials/alerts" %>
      <%= yield %>
    </section>
  </div>

</body>
</html>
