<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Testpilot</title>

    <%= render "layouts/partials/device_tags" %>
    <%= render "layouts/partials/favicons" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Bangers" %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/partials/navigation" %>
  <div class="container">
    <%= render "layouts/partials/alerts" %>
    <%= yield %>
  </div>

</body>
</html>
